.event-list {
    max-width: var(--component-max-width-narrow);
    font-family: var(--header-font);
    letter-spacing: 0.1em;
}

.event-list .repeater {
    text-transform: none;
    text-align: left;
    border-radius: 0;
    --border-width: 1px;
    border-top: var(--border-width) solid var(--white);
}

.event-list .repeater:last-child {
    border-bottom: var(--border-width) solid var(--white);
}

.event-list .repeater_body {
    display: flex;
    align-items: center;
}

.event-list .repeater_body>span::after {
    content: '|';
    margin-inline: 1em;
    vertical-align: 0.06em;
    font-family: Arial, Helvetica, sans-serif;
}

.event-list .repeater_body>span:last-of-type::after {
    content: '';
}

.event-list .repeater_btn {
    display: inline;
    margin-left: auto;
    margin-block: 0.5rem;

    color: var(--black);
    background: var(--yellow);
    border-color: var(--yellow);
    line-height: 1;
}

.event-list .repeater_btn::after {
    border-color: var(--yellow);
}

.btn-label {
    color: black;
	letter-spacing: initial;
    vertical-align: text-top;
}